.stepper-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.pro7-main{
    width: 1006px;
    height: 607.54px;
    display: flex;
    justify-content: center;
}
.step-indicator{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.step-indicator img{
    height: 48.54px;
    gap: 0px;
    width: 158px;
}
.step-indicator h1{
    color: #414ECA;
}
.step-indicator p{
    color: #414ECA;
    font-weight: 600;
}
