@tailwind base;
@tailwind components;
@tailwind utilities;

.bordershadow{
  border-radius: 10px;
  /* ShareInfo Effects/ShareInfo Effect White */
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.25) inset;
  padding: 10px 20px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: nunito;
  font-size: 12px;
}
button{
  cursor: pointer;
}
.btn{
  cursor: pointer;
}
.cancel-btn{
  height: 39px;
  border-radius: 10px;
  padding: 10px 40px;
  background-color: #F31919;
}
.assesment-btn{
  height: 39px;
  border-radius: 10px;
  padding: 10px 40px;
  background-color: #34A853;
}
#assesment-btn{
  background-color: #414ECA;
  width: 239px;
  height: 39px;
  border-radius: 10px;
  padding: 10px 40px;
}
.assesment-button{
  height: 39px;
  border-radius: 10px;
  padding: 10px 40px;
}
#btnwidth{
  width: 168px;
}

::-webkit-scrollbar{
  display: none;
}