.navbar-main{
    width: 100%;
}
.nav-item{
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar{
    width: 100%;
}
.navbar-container{
    height: 60px;
}
.navbar-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 20px;
}
.apply-btn{
    font-family: nunito;
}